body {
    font-family: 'ABeeZee';
    margin: 0px;
    color: white;
    background: #0a2342;
}

header {
    font-size: 115%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50%;
    padding-top: 30px;
    padding-bottom: 50px;
}

article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    line-height: 50%;
    padding: 15px;
}